.news {
  display: none;
}

@include respond-to('medium') {
  .news {
    position: relative;
    display: block;
    padding: 1.5rem 4.5rem !important;

    .container-news {
      overflow: hidden;

      .ticker-wrapper {
        white-space: nowrap;
      }

      li {
        padding: .5rem 10rem 0 0;
        display: inline-block;
        font-size: 1.75rem;
        white-space: nowrap;
        overflow: hidden;
      }

      span{
        display: inline-block;
      }
    }
  }
}

