:root {
  font-size: 62.5%;
}

.no-select {
  @include prefix(user-select, none);
}

html {
  height: -webkit-fill-available;
}

body,
html {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  @include text-selection($light-blue, $yellow);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: $black;

  @supports (display: grid) {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: 10rem 1fr 15rem;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    background: greenyellow;
  }

  .full-content {
    width: 100%;
  }

  .content {
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 1rem 0;
  }

  a {
    @include prefix(user-select, none);
  }

  button {
    @include prefix(user-select, none);
    cursor: pointer;
  }

  .message {
    font-family: $message !important;
  }

  .helvetica {
    font-family: $helvetica !important;
  }

  .montserrat {
    font-family: $montserrat !important;
  }

  .yellow {
    color: $yellow !important;
  }

  .blue {
    color: $light-blue !important;
  }

  .red {
    color: $red !important;
  }

  .white {
    color: $white !important;
  }

  .bg-yellow {
    background: $yellow !important;
  }

  .bg-blue {
    background: $light-blue !important;
  }

  .bg-red {
    background: $red !important;
  }

  p {
    font-size: 2rem;
    line-height: 2.8rem;
  }


}
