/**
 * Variables
*/

/* Typography */

/* Generals */
$tiny: 22.44rem;
$small: 47.94rem;
$medium: 61.94rem;
$large: 72.44rem;

/* Colour palette */
$black: #000;
$white: #fff;
$red: #FF164E;
$yellow: #FFD901;
$light-blue: #00ADEE;
$light-gray: #00000029;
$gray: #00000099;
$deep-gray: #000000CC;
$blue: #007FEE;

$transparent: rgba(255, 255, 255, 0);

/* Fonts */
$helvetica: 'helvetica-bold';
$message: 'message';
$montserrat: 'montserrat-regular';

