header {
  width: 100%;
  height: 10rem;
  position: relative;
  margin: 0 auto;
  z-index: 1000;

  .content {
    padding: 2.5rem 0 0;
  }

  h1,
  .menu {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    float: left;

    img {
      width: 12.8rem;
      height: auto;
    }
  }

  .menu {
    float: right;
  }

  .button-header {
    width: 4rem;
    height: fit-content;
    position: relative;
    padding-top: .5rem;
    cursor: pointer;

    span {
      width: 4rem;
      height: .4rem;
      display: block;
      margin-bottom: 1.2rem;
    }
  }

  .button-open {
    span {
      &:first-child {
        background: $yellow;
      }

      &:nth-child(2) {
        background: $red;
      }

      &:last-child {
        background: $light-blue;
      }
    }
  }

  .button-close {
    display: inline-block;
    vertical-align: middle;
    float: right;

    span {
      background: $red;
    }
  }

  .bg-menu {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: $black;

    .header-news,
    .logo {
      display: inline-block;
      vertical-align: middle;
    }

    .header-news {
      width: calc(100% - 20rem);
      display: none;
      font-family: $message;
      font-size: 2rem;
      text-align: right;
      color: $white;

      span {
        color: $red;
      }
    }

    .logo {
      width: 13rem;
    }

    .navigation {
      min-height: 12.5rem;
      padding-top: 1rem;
      margin-top: 1rem;
      border-top: .4rem solid $white;
      border-bottom: .4rem solid $white;

      ul {
        li {
          text-align: right;
           
          a {
            font-family: $message;
            font-size: 2rem;
            line-height: 3rem;
            text-align: right;
            color: $white;
            transition: ease .5s;
            transition-property: color;

            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    position: absolute !important;
    padding-top: 3rem;
    bottom: 3rem;
  }
}

@include respond-to('medium') {
  header {
    .content-header {
      width: calc(100% - 6rem);
      margin: 0 auto;
    }

    .bg-menu {
      .header-news {
        display: inline-block;
      }

      .navigation {
        padding-top: 7.5rem;

        ul {
          display: flex;
          justify-content: flex-end;

          li {
            padding: 0 1rem;
          }
        }
      }
    }

    .footer {
      .content {
        border-top: .4rem solid $white;
      }
    }
  }
}
